<%- include("header") -%>

<div class="box" id="heading">
  <h1><%=listTitle%></h1>
</div>

<div class="box" id="">
  <% newItem.forEach(function (items){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkBox" value="<%=items._id%>" onchange="this.form.submit()" />
        
        <p><%= items.name %></p>
      </div>
      <input type="hidden" name="listTitle" value="<%=listTitle%>"></input>
    </form>
  <% }) %>




  <form action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="Add To Do"
      autocomplete="off"
    />
    <button type="submit" id="btn" value="<%= listTitle %>" name="btn">
      +
    </button>
  </form>
</div>

<%- include("footer") -%>
