<%- include("header") -%>

    <dir class="box" id="heading">
      <h1><%= listTitle %></h1>
    </dir>
    <div class="box" id="">
      <% for(var i=0; i<newItem.length;i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%= newItem[i] %></p>
        </div>
        
    <% } %>
    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="Add To Do" autocomplete="off">
      <button type="submit" id="btn" value="<%= listTitle %>" name="btn">+</button>
  </form>  
  
  </div>
        

<%- include("footer") -%>